@font-face {
  font-family: "gotham";
  src: url('Gotham-Book.woff') format('woff'),
       url('Gotham-Book.woff2') format('woff2'),
       url('Gotham-Book.ttf') format('truetype');
  font-weight: normal;
}